//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 12 01:33:51 2022
//! **************************************************************************

SCHEMATIC START;
COMP "COm0" LOCATE = SITE "P44" LEVEL 1;
COMP "COm1" LOCATE = SITE "P43" LEVEL 1;
COMP "COm2" LOCATE = SITE "P33" LEVEL 1;
COMP "COm3" LOCATE = SITE "P30" LEVEL 1;
COMP "SlideSet" LOCATE = SITE "P55" LEVEL 1;
COMP "XLXN_35" LOCATE = SITE "P123" LEVEL 1;
COMP "Hour_Toggle" LOCATE = SITE "P45" LEVEL 1;
COMP "LED0" LOCATE = SITE "P82" LEVEL 1;
COMP "P40" LOCATE = SITE "P40" LEVEL 1;
COMP "P32" LOCATE = SITE "P32" LEVEL 1;
COMP "P24" LOCATE = SITE "P24" LEVEL 1;
COMP "P41" LOCATE = SITE "P41" LEVEL 1;
COMP "P34" LOCATE = SITE "P34" LEVEL 1;
COMP "P35" LOCATE = SITE "P35" LEVEL 1;
COMP "P27" LOCATE = SITE "P27" LEVEL 1;
COMP "P29" LOCATE = SITE "P29" LEVEL 1;
COMP "Point" LOCATE = SITE "P26" LEVEL 1;
COMP "Minute_Toggle" LOCATE = SITE "P46" LEVEL 1;
SCHEMATIC END;

