//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 13 11:16:53 2022
//! **************************************************************************

SCHEMATIC START;
COMP "Minute_P47" LOCATE = SITE "P47" LEVEL 1;
COMP "COm0" LOCATE = SITE "P44" LEVEL 1;
COMP "COm1" LOCATE = SITE "P43" LEVEL 1;
COMP "COm2" LOCATE = SITE "P33" LEVEL 1;
COMP "Air_LED" LOCATE = SITE "P81" LEVEL 1;
COMP "COm3" LOCATE = SITE "P30" LEVEL 1;
COMP "Slide_SW1_20_23" LOCATE = SITE "P62" LEVEL 1;
COMP "IN_ROOM_Living_P1" LOCATE = SITE "P1" LEVEL 1;
COMP "Reset_P48" LOCATE = SITE "P48" LEVEL 1;
COMP "Osc" LOCATE = SITE "P123" LEVEL 1;
COMP "Slide_SW0" LOCATE = SITE "P66" LEVEL 1;
COMP "IN_ROOM_Toilet_P142" LOCATE = SITE "P142" LEVEL 1;
COMP "Lighing_Room_P" LOCATE = SITE "P16" LEVEL 1;
COMP "IR_PIN_P23" LOCATE = SITE "P23" LEVEL 1;
COMP "P40" LOCATE = SITE "P40" LEVEL 1;
COMP "P32" LOCATE = SITE "P32" LEVEL 1;
COMP "P41" LOCATE = SITE "P41" LEVEL 1;
COMP "P34" LOCATE = SITE "P34" LEVEL 1;
COMP "P35" LOCATE = SITE "P35" LEVEL 1;
COMP "P27" LOCATE = SITE "P27" LEVEL 1;
COMP "P29" LOCATE = SITE "P29" LEVEL 1;
COMP "P45" LOCATE = SITE "P45" LEVEL 1;
COMP "PIR_PIN_P21" LOCATE = SITE "P21" LEVEL 1;
COMP "Lighting_Around_LED" LOCATE = SITE "P24" LEVEL 1;
COMP "Air_Bedroom_P2" LOCATE = SITE "P2" LEVEL 1;
COMP "Slide_Set_SW7" LOCATE = SITE "P55" LEVEL 1;
COMP "Point" LOCATE = SITE "P26" LEVEL 1;
COMP "Hour_P46" LOCATE = SITE "P46" LEVEL 1;
COMP "Lighting_Around_P" LOCATE = SITE "P82" LEVEL 1;
SCHEMATIC END;

