//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 13 04:32:33 2022
//! **************************************************************************

SCHEMATIC START;
COMP "Lnk_Toi" LOCATE = SITE "P139" LEVEL 1;
COMP "Select_Condition_Temp_P56" LOCATE = SITE "P56" LEVEL 1;
COMP "PIR_PIN_17" LOCATE = SITE "P17" LEVEL 1;
COMP "COm0" LOCATE = SITE "P44" LEVEL 1;
COMP "P1" LOCATE = SITE "P1" LEVEL 1;
COMP "COm1" LOCATE = SITE "P43" LEVEL 1;
COMP "COm2" LOCATE = SITE "P33" LEVEL 1;
COMP "COm3" LOCATE = SITE "P30" LEVEL 1;
COMP "RL_Fan" LOCATE = SITE "P6" LEVEL 1;
COMP "PIR_IN_P12" LOCATE = SITE "P12" LEVEL 1;
COMP "Osc" LOCATE = SITE "P123" LEVEL 1;
COMP "IR_PIN_22" LOCATE = SITE "P22" LEVEL 1;
COMP "DOOR_PIN_24" LOCATE = SITE "P24" LEVEL 1;
COMP "P40" LOCATE = SITE "P40" LEVEL 1;
COMP "P32" LOCATE = SITE "P32" LEVEL 1;
COMP "P41" LOCATE = SITE "P41" LEVEL 1;
COMP "P34" LOCATE = SITE "P34" LEVEL 1;
COMP "P35" LOCATE = SITE "P35" LEVEL 1;
COMP "P27" LOCATE = SITE "P27" LEVEL 1;
COMP "P29" LOCATE = SITE "P29" LEVEL 1;
COMP "P45" LOCATE = SITE "P45" LEVEL 1;
COMP "P46" LOCATE = SITE "P46" LEVEL 1;
COMP "P140" LOCATE = SITE "P140" LEVEL 1;
COMP "P132" LOCATE = SITE "P132" LEVEL 1;
COMP "P124" LOCATE = SITE "P124" LEVEL 1;
COMP "P142" LOCATE = SITE "P142" LEVEL 1;
COMP "P134" LOCATE = SITE "P134" LEVEL 1;
COMP "P127" LOCATE = SITE "P127" LEVEL 1;
COMP "IR_IN_P15" LOCATE = SITE "P15" LEVEL 1;
COMP "Link_Living" LOCATE = SITE "P137" LEVEL 1;
COMP "P138" LOCATE = SITE "P138" LEVEL 1;
COMP "Lighting_Toilet_Relay" LOCATE = SITE "P8" LEVEL 1;
COMP "Point" LOCATE = SITE "P26" LEVEL 1;
SCHEMATIC END;

